body {
    font-family: "Arial", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
.button{
    width: 70px;
    height: 40px;
    padding: 10px;
    background-color: rgb(100, 191, 100);
    color: white;
}
.searchbar{
    height: 30px;
    padding: 4px;
    margin: 2px
}
.weather-cards{
display: flex;
justify-content: center;
align-items: center;
margin-top: 12px
}
.weather-card{
    background-color: aliceblue;
    margin: 10px;
    padding: 12px;
    width: 120px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 20px;
}
.data{
    font-size: 16px;
}
